:host {
  margin: 20px;
  display: flex;
}

mat-card {
  display: flex;
  justify-content: space-between;
  height: 350px;
  width: 350px;
  margin-right: 20px;
  padding: 20px;
  color: white;
}

.header {
  display: flex;
  flex-direction: column;
}

mat-card-title, mat-card-subtitle {
  text-align: center;
}

mat-card-title {
  font-size: 2rem;
  margin-bottom: 5px;
}

.desc {
  font-size: 1rem;
}

.actions {
  display: flex;
  justify-content: center;
}